<%- include("partials/header") %>
    <div class="container">
        <h1>Simple Text Posting Website</h1>
        <p> This project is a basic web application that allows users to create, view, edit, and delete text posts
            without
            the need for a database. <br>The application focuses on providing a simple and intuitive interface for
            managing
            posts, while ensuring a responsive and well-styled user experience across both desktop and mobile devices.
            <br>Key Features<br>
            <b>Post Creation:</b> Users can easily create new text-based posts through a simple input form.<br>
            <b> Post Viewing:</b> All created posts are displayed on the home page, where users can see them listed
            chronologically.<br>
            <b>Post Editing/Deleting:</b> Users can modify or remove their posts at any time through convenient edit and
            delete
            options.<br>
            <b> Responsive Design:</b> The application is fully responsive, ensuring it works seamlessly on different
            screen
            sizes
            and devices.<br>

            <br>This project serves as a foundational example of how to build a basic CRUD (Create, Read, Update,
            Delete)
            application without database dependencies.
            <hr>
    </div>
    </p <%- include("partials/footer") %>