<%- include("partials/header") %>
    <div class="container text-center">
        <h1>Write a post!</h1>
        <form action="/submit" method="POST">
            <input type="text" name="postList" placeholder="What's on your mind?">
            <input type="submit" value="Post">
        </form>
    </div>
    </p <%- include("partials/footer") %>