<%- include("partials/header") %>
    <div class="containe text-center">
        <h1>Edit Post</h1>
        <form action="/edit/<%= postIndex%>" method="POST">
            <textarea name="content" rows="4" cols="50" required><%= origPost.content %></textarea><br>
            <button type="submit">Update Post</button>
        </form>
    </div>
    <%- include("partials/footer") %>